<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <section class="menu-info">
       <img th:src="@{/imgs/logo-elcasar.svg}" alt="C.D. El Casar" width="80">
        <section>
            <h1>Club deportivo El Casar</h1>
            <p>pasion por el futbol en Guadalajara</p>
        </section>
    </section>

    <section class="menu-item">
        <ul>
            <li>
                <a href="#">INICIO</a>
            </li>
            <li>
                <a href="#">EQUIPOS</a>
            </li>
            <li>
                <a href="#">TIENDA OFICIAL</a>
            </li>
            <li>
                <a href="#">SOBRE NOSOTROS</a>
            </li>
            <li>
                <a href="#">NOTICIAS</a>
            </li>
            <li>
                <a href="#">CONTACTO</a>
            </li>
        </ul>
    </section>
</header>


