

<header>
    <section class="menu-info">
        <img></img>
        <h1></h1>
        <p></p>
    </section>
    <section class="menu-item">
        <ul>
            <li>
                <a href="#">INICIO</a>
            </li>
            <li>
                <a href="#">EQUIPOS</a>
            </li>
            <li>
                <a href="#"> TINEDA OFICIAL</a>
            </li>
            <li>
                <a href="#">SOBRE NOSOTROS</a>
            </li>
            <li>
                <a href="#">NOTICIAS</a>
            </li>
            <li>
                <a href="#">CONTACTO</a>
            </li>
        </ul>
    </section>
</header>