<section th:fragment="main" class="main-section" xmlns:th="http://www.thymeleaf.org">
    <div class="info-present">
        <span class="eyebrow">BIENVENIDO · TEMPORADA 25/26</span>
        <h1>Somos más que un club; somos <span class="cursiva">una familia.</span></h1>
        <p>Bienvenido al Club Deportivo El Casar. Somos un club con historia, dedicación y un profundo amor por el fútbol. Desde nuestros inicios, hemos forjado un camino de éxitos, compañerismo y formación de grandes talentos.</p>
        <div class="acciones">
            <button>Conoce a nuestros equipos</button>
            <a href="">Tienda Oficial</a>
        </div>
    </div>

    <div class="present hero-campo">
        <img th:src="@{/imgs/logo-elcasar.svg}" alt="C.D. El Casar" width="80">
        <span>Vive la emoción de cada partido,
cada entrenamiento y cada victoria.</span>
    </div>
</section>
